<html><head><title>Blogapp</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    
    </head>
    
<body>
    <div class="ui fixed inverted menu">
    <div class="container">
        <div class="header item">
            <i class="icon comments"></i>
            Blog-Site
        </div>
        </div>
    <a href="/" class="item">Home</a>
    <a href="/blogs/new" class="item">New Post</a>
    </div>
    <p>From th header file</p>