{{> header}}
<div class="ui main text container segment">
<div class="container">
<form class="ui form" method="POST" action="/login">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  
  <button class="ui button" type="submit">Login!</button>
</form>
    </div>
</div>
{{> footer}}