.container.main{
    margin-top: 7.0em;
    
}
#delete{
    display:inline;
}
#flash{
    margin-top:100px;
    padding-bottom: 20px;
    
}
#width{
    width:80%;
}
#desc{
    padding-left:10px;
    
}
#title{
padding-top:7px;
    
}